<head>
    <title>Simonas Čeponis Blog</title>
    <meta name="Simonas Čeponis portfolio">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="/main.css">

    <link rel="stylesheet" href="mibreitGallery.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/mibreitGallery.min.js"></script>
</head>
<body>
  <div w3-include-html="navigation.html"></div> 
  <div class="container">
    <div class="main">
      <div class="row">
          <div class="column">
            <h2>Blog</h2>
            <div style="width: 50%;" id="tag-list" >
                <div style="margin-right: 7px; display: inline-block;" v-for="tag in tags">
                  <input type="checkbox" :value="tag.name" id="tag.name" v-model="checkedTags" @change="check($event)"> {{tag.name}}
                </div>
            </div>
            
            <div id="app">
              <ul>
                <li v-for="project in filteredProjects">
                  <a :href="project.link">{{ project.title }}</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src="/showBlogs.js"></script>
  <script src="/includeHTML.js"></script>
  <script>includeHTML();</script>
</body>